body{
    font-size: 40px;
}

div{
height: 150px;

}
divheader{
    background-color: bisque;
}
divmain{
    background-color: burlywood;
    
}
divfooter{
    background-color: cadetblue;
}
div.left{
    float: left;
    width: 50%;
}
/*  */

