h1{
    color: antiquewhite;
}
#header{
    display: flex;
    background-color: beige;
}
#logo{
    width: 50%;
    margin-left: 10px;
}

body{
    margin: 5px;
}

/* ở đây... */
#nav{
    background-color: beige;
    height: 50px;
}
/* tác động vào ul trong nav */
#nav ul{

list-style-type: none;
/* xoay ngang menu */
display: flex;
}

#nav ul li {
    /* thiết lập độ rộng cho list */
    width: 80px;
}

#nav ul li a{
    /* bỏ gạch đầu  */
text-decoration: none;
color: black;
font-size: 20px;
font-weight: bold;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

}

/* bai1 */




/* hết bài 1 */

