body{
    margin: auto 0px;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0em;
    padding: 0px 8em;
}

.logo{
    width: 40%;
}

.logo img{
    width: 100%;
}

.menu{
    width: 100%;
}

.mobile{
    display: none;
}

.desktop{
    width: 100%;
    background-image: url(http://www.tlu.edu.vn/dhtl/images/front/bgr-slider.jpg);
}

.desktop ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0em;
    font-size: 120%;
}

.desktop ul li a{
    color: #fff;
    font-weight: bold;
}

.main{
    width: 100%;
    padding: 0px 8em;
}

.item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2em 0em;
}

.img{
    width: 35%;
}

.img img{
    width: 100%;
}

.title{
    width: 60%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-image: url(http://www.tlu.edu.vn/dhtl/images/front/bgr-slider.jpg);
    color: #fff;
}

@media only screen and (max-width: 800px){
    .header, .main{
        padding: 0em 0.5em;
    }
    .logo{
        width: 60%;
    }

    .desktop{
        display: none;
    }

    .mobile{
        display: inline-block;
    }

    #icon{
        position: relative;
    }

    .mobile ul{
        list-style-type: none;
        position: absolute;
        background-color: rgba(0,0,0,0.5);
        z-index: 1000;
    }

    .mobile ul li{
        border-bottom: 1px solid #ccc;
        padding: 0.5em;
    }

    .mobile ul li a{
        color: #fff;
    }

    .item{
        display: inline-block;
    }

    .img{
        width: 100%;
    }

    .title{
        width: 100%;
    }

    .title h4{
        font-size: 100%;
    }
    .login  {
    color:blue;
    padding: 5px;
    border: 1px solid cornflowerblue;
    border-radius: 10px;
    background-color:darkgray;
    }
   
}