#header{
    background-color: #56a4fe;
    
    width: 100%;
}
.title{
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;  
}
.title a {
    margin-top: 10px
}
a{
    color: white;

}

a:hover{
    color: #f74012
}
.ad_logout{
    margin-left: 1000px;
    margin-top: -33px;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    width: 100%;
    height: auto;
    display: flex;
    background: #eee;
}
.content-left{
    background-color: #17569e;
    width: 23%;
    height:650px;
}

ul li{
   list-style: none;
}
.dropdown-item:active {
    
    text-decoration: none;
    background-color: #4caf50;
}
.row {
    
    margin-left: 500px;
    margin-top: -150px;
}
.nav-item{
    display: block;
    padding: .5rem 1rem;
}
.nav-item1{
    display: block;
    padding: .5rem 1rem;
}
.nav-item1 i{
   
    font-size: 18px;
    margin-left: 15px;
}
.nav-item1 i:hover{
    color: #eb300f
}
.nav-item1 a:hover{
    color: #4caf50
}
.dropdown-menu a:hover{
    color: #4caf50
}
.content-right{
    width: 75%;
    margin:0px !important;
   
 }
 .content-right h1{
     color: #4caf50;
     margin-left: 30%;
     margin-top: 10%;
 }
 
/*module khoa hoc*/
.title-module{	
	font-size:15px;
	font-weight:bold;	
	line-height:30px;	
	margin-top:50%;	
	text-align:center;
}
.filter{
	margin:10px;
	height:40px;
}
div.list-course{
	margin:10px;
	padding:0px 10px;	
}
table.list-course a{
	text-decoration:none;
	color:#000000;
}
table.list-course, table.list-course td{
	border:1px solid #cccccc;
	border-collapse:collapse;
	padding:5px;
}
.filter .label, .filter .value, .filter .search{
	float:left;	
	margin-left:10px;
}
.row-first{
	background-color:#FFE7CE;
	font-weight:bold;
	text-align:center;
}
.col-first{
	background-color:#EFF8F8;	
	font-weight:bold;
}
div.task{
	margin-top:5px;
}
/* sua thong tin khoa hoc*/
.table-form-edit{
	margin-bottom:10px;
}
.table-form-edit td{
	padding:5px;
	height:30px;
}
