
body
{
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
 
.wrapper
{
    width: 100%;
    float: left;
}
.header 
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100%;
    height: 100px;
    color: white;
    background-color:#56A4FE; 
}
#menu ul{
    margin-left: 35px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    list-style-type: none;
    background-color: #56a4fe;
    width: 350px;
    display: flex;
    height: 30px;
}
li{
    width: 300px;
    padding-top: 3px;
}
#menu ul li a{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    color:#fff;
    font-size: 14px;
    line-height: 1.42857;
    text-decoration: none;
}
#menu{
margin-left: 1150px;
}
.login{
    border: double;
    border-radius: 10px;
    text-align: center;
    padding: 70px 100px;
    width: 600px;
}

.content {
    display: flex;
    justify-content: center;
}

.btn{
    border: none;
    background-color: #56a4fe !important;
}
p{
    display: flex;
}